.social {
  width: 140px;
  text-align: center;

  &__text {
    display: block;
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @extend %reset-ul;
  }

  &__item {

  }
}