.main-navigation {
  display: flex;


  font-size: 16px;

  color: $color-one;
  background: transparent;

  &--lh-24 {
    line-height: 24px;
  }

  &--lh-20 {
    line-height: 20px;
  }

  &--column {
    flex-direction: column;
  }
}