.news {
  width: 380px;

  &__large-title {
    margin-bottom: 20px;
  }

  &__list {
    @extend %reset-ul;
  }
  &__item {
    margin-bottom: 20px;
  }

  &__text {
    @extend %reset-mp;
  }

  &__data {
    text-transform: lowercase;

  }

  &__btn {
    margin-bottom: 10px;
  }

}