.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  &__item {
    width: 140px;
    @extend %reset-mp;
    margin-bottom: 10px;
  }

  &__label {
    display: block;
    padding-left: 17px;
    margin-bottom: 7px;
  }


  &__btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}