.main-footer {
  widows: 100%;
  min-height: 133px;
  margin-top: 50px;
  padding-top: 60px;
  font-size: 14px;
  line-height: 24px;

  color: $color-one;
  background: $color-footer-bg url("main-footer-pattern.jpg") 0 0 repeat;

  &__contact-info {
    margin-right: 80px;
  }

  &__social {
    margin-right: 260px;
  }

}