.bradecrumbs {
  height: 20px;

  font-size: 14px;
  @extend %reset-ul;

  &__item {
    display: inline-block;
  }

  &__link {

    color: inherit;
    cursor: pointer;

    &--current {
      color: #aba9a7;

      cursor: auto;

    }
  }
  &--lh-20 {
    line-height: 20px;
  }
  &--lh-24 {
    line-height: 24px;
  }

}