.btn {
  box-sizing: border-box;
  display: inline-block;

  padding: 12px 0;

  border: 0;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  word-wrap: wrap;

  background: $color-two;
  color: $color-one;

  cursor: pointer;

  &:hover, &:active, &:focus {
    background: $color-bg-hover-btn;
  }

  &--current {
    background: $color-one;
    color: $color-two;

    cursor: auto;

    &:hover, &:active, &:focus {
      background: $color-one;
    }
  }

  &--white-hover {

    &:hover, &:active, &:focus {
      background: $color-one;
      color: $color-two;
    }

  }

  &--small {
    width: 43px;
    height: 43px;

  }

  &__extra-middle {
    min-width: 78px;
    padding-right: 10px;
    padding-left: 10px;
  }

  &--middle {
    min-width: 140px;
    padding-right: 10px;
    padding-left: 10px;
  }

  &--large {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  &--vk {
    background: $color-two url("vk-white.svg") no-repeat center center;;
    background-size: 27px 15px;

    &:hover,&:focus {
      background: $color-one url("vk-black.svg") no-repeat center center;;
      background-size: 27px 15px;
    }
  }

  &--fb {
    background: $color-two url("fb-white.svg") no-repeat center center;;
    background-size: 27px 15px;

    &:hover,&:focus {
      background: $color-one url("fb-black.svg") no-repeat center center;;
      background-size: 27px 15px;
    }
  }

  &--inst {
    background: $color-two url("inst-white.svg") no-repeat center center;;
    background-size: 27px 15px;

    &:hover,&:focus {
      background: $color-one url("inst-black.svg") no-repeat center center;;
      background-size: 27px 15px;
    }
  }

  &-js-map {

  }
}


