.main-price {

  &__bradecrumbs {
    margin-bottom: 55px;
  }

  &__slogan {
    margin-bottom: 70px;
  }

  &__wrapper-columns {
    margin-bottom: 65px;
  }

  &__about-us {
    margin-bottom: 80px;
  }
}