<footer class="main-footer">
  <p class="contact-info contact-info__main-footer contact-info--white">
    Барбершоп «БОРОДИНСКИЙ» <br>
    Адрес: г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8 <br>
    <a href="#">Как нас найти?</a> <br>
    Телефон: +7 (495) 666-02-66
  </p>

  <div class="social">
    <b>Давайте дружить!</b>
    <ul>
      <li>
        <a href="#" class="btn btn--vk">Вконтакте</a>
      </li>
      <li>
        <a href="#" class="btn btn--fb">Фейсбук</a>
      </li>
      <li>
        <a href="#" class="btn btn--in">Инстаграмм</a>
      </li>
    </ul>
  </div>

  <p class="copyright">
    <b>Разработано:</b>
    <a href="#" class="btn">Html Academy</a>
  </p>
</footer>