<header class="main-header">
  <nav class="main-navigation">
    <a class="main-logo">
      <img src="img/index-logo.svg" alt="Логотип Барбершопа Бородинский">
    </a>
    <ul class="site-navigation">
      <li><a href="#">Информация</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Прайс-лист</a></li>
      <li><a href="#">Магазин</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>

    <ul class="user-navigation">
      <li>
        <a href="#">Вход</a>
      </li>
    </ul>
  </nav>
</header>