<header class="main-header main-header--m-b-75px">
  <nav class="main-navigation main-navigation--lh-20 main-navigation--column">
    <a class="main-logo main-logo--large ">
      <img src="img/main-logo-large.svg"
           alt="Логотип Барбершопа Бородинский">
    </a>
    <div class="wrapper-main-navigation">
      <div class="container container--flex-sb">
        <ul class="site-navigation">
          <li><a class="site-navigation__link" href="#">Информация</a></li>
          <li><a class="site-navigation__link" href="#">Новости</a></li>
          <li><a class="site-navigation__link" href="price.html">Прайс-лист</a></li>
          <li><a class="site-navigation__link" href="catalog.html">Магазин</a></li>
          <li><a class="site-navigation__link" href="#">Контакты</a></li>
        </ul>

        <ul class="user-navigation">
          <li>
            <a class="user-navigation__link" href="#">Вход</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>