<header class="main-header">
  <nav class="main-navigation">
    <a class="main-logo">
      <img src="img/index-logo.svg" alt="Логотип Барбершопа Бородинский">
    </a>
    <ul class="site-navigation">
      <li><a class="site-navigation__item" href="#">Информация</a></li>
      <li><a class="site-navigation__item" href="#">Новости</a></li>
      <li><a class="site-navigation__item" href="price.html">Прайс-лист</a></li>
      <li><a class="site-navigation__item" href="catalog.html">Магазин</a></li>
      <li><a class="site-navigation__item" href="#">Контакты</a></li>
    </ul>

    <ul class="user-navigation">
      <li>
        <a class="user-navigation__link js-popup-logo" href="#">Вход</a>
      </li>
    </ul>
  </nav>
</header>