<footer class="main-footer">
  <div class="container container--flex">
    <p class="contact-info main-footer__contact-info contact-info--footer">
      Барбершоп «БОРОДИНСКИЙ» <br>
      Адрес: г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8 <br>
      <a class="contact-info__link" href="#">Как нас найти?</a> <br>
      Телефон: +7 (495) 666-02-66
    </p>

    <div class="social  main-footer__social">
      <b class="social__text">Давайте дружить!</b>
      <ul class="social__list">
        <li class="social__item">
          <a href="#" class="btn social__btn  btn--small btn--white-hover btn--vk"><span class="g-hidden">Вконтакте</span></a>
        </li>
        <li class="social__item">
          <a href="#" class="btn social__btn  btn--small btn--white-hover btn--fb"><span class="g-hidden">Фейсбук</span></a>
        </li>
        <li class="social__item">
          <a href="#" class="btn social__btn  btn--small btn--white-hover btn--inst"><span class="g-hidden">Инстаграмм</span></a>
        </li>
      </ul>
    </div>

    <p class="copyright">
      <b class="copyright__text">Разработано:</b>
      <a href="#" class="btn copyright__btn btn--middle btn--white-hover">Html Academy</a>
    </p>
  </div>
</footer>