<section class="modal modal--login">
  <h2>Личный кабинет</h2>
  <p>Введите пожалуйста свой логин и пароль</p>
  <form class="login-form" action="#" method="post">
    <p>
      <label class="g-hidden">
        Логин
      <input class="form-input form-input--login" type="text" name="login" placeholder="Логин">
      </label>
    </p>
    <p>
      <label class="g-hidden">
        Пароль
      <input class="form-input form-input--pass" type="password" name="pass" placeholder="Пароль">
      </label>
    </p>
    <p>
      <input class="g-hidden" type="checkbox" name="remember-me" id="remember-me">
      <label class="form-input__label form-input__label--checkbox" for="remember-me">Запомните меня</label>

      <a class="forgot-password" href="#">Я забыл пароль!</a>
    </p>
    <button class="btn login-form__btn" type="submit">Войти</button>
    <button class="modal__close">Закрыть</button>
  </form>
</section>