<div class="modal-overlay modal-overlay--login modal-overlay--hidden">
  <section class="modal modal--login">
    <h2 class="large-title modal__large-title">Личный кабинет</h2>
    <p class="modal__text">Введите пожалуйста свой логин и пароль</p>
    <form class="form-login modal__form-login" action="#" method="post">
      <p class="form-login__item">
        <label class="g-hidden" for="login">
          Логин
        </label>
        <input class="form-input form-input--login" type="text" name="login" id="login" placeholder="Логин">

      </p>
      <p class="form-login__item form-login__item--m-b-15">
        <label class="g-hidden" for="pass">
          Пароль
        </label>
        <input class="form-input form-input--pass" type="password" name="pass" id="pass" placeholder="Пароль">

      </p>
      <p class="form-login__item form-login__item--m-b-15 form-login__item--flex">
        <input class="form-input g-hidden" type="checkbox" name="remember-me" id="remember-me">
        <label class="form-input__label form-input__label--checkbox" for="remember-me">
          <span class="form-input__checkbox"></span>
          Запомните меня
        </label>

        <a class="form-login__forgot-password" href="#">Я забыл пароль!</a>
      </p>
      <button class="btn form-login__btn btn--large" type="submit">Войти</button>
    </form>
    <button class="modal__close"><span class="g-hidden">Закрыть</span></button>
  </section>
</div>