<div class="modal__overlay">
  <section class="modal modal--login">
    <h2>Личный кабинет</h2>
    <p>Введите пожалуйста свой логин и пароль</p>
    <form class="form-login" action="#" method="post">
      <p>
        <label class="g-hidden" for="login">
          Логин
        </label>
        <input class="form-input form-input--login" type="text" name="login" id="login" placeholder="Логин">

      </p>
      <p>
        <label class="g-hidden" for="pass">
          Пароль
        </label>
        <input class="form-input form-input--pass" type="password" name="pass" id="pass" placeholder="Пароль">

      </p>
      <p>
        <input class="g-hidden" type="checkbox" name="remember-me" id="remember-me">
        <label class="form-input__label form-input__label--checkbox" for="remember-me">Запомните меня</label>

        <a class="form-login__forgot-password" href="#">Я забыл пароль!</a>
      </p>
      <button class="btn form-login__btn" type="submit">Войти</button>
    </form>
    <button class="modal__close">Закрыть</button>
  </section>
</div>