<div class="modal-overlay modal-overlay--map modal-overlay--hidden">
  <section class="modal modal--map">
    <h2 class="g-hidden">Как до нас добраться</h2>
    <iframe class="modal__iframe"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.5989424123993!2d30.320894616089525!3d59.9387968690479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5ba729%3A0xea9c53d4493c879f!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0KDQvtGB0YHQuNGPLCAxOTExODY!5e0!3m2!1sru!2ssg!4v1528458681226"
       frameborder="0" style="border:0" allowfullscreen></iframe>
    <button class="modal__close"><span class="g-hidden">Закрыть</span></button>
  </section>
</div>