<header class="main-header main-header--black-bg main-header--m-b-55px">
  <div class="container">
    <nav class="main-navigation main-navigation--lh-24">
      <a href="index.html">
        <img class="main-logo main-header__main-logo main-logo--small" src="img/main-logo-small.png"
             alt="Логотип Барбершопа Бородинский">
      </a>
      <ul class="site-navigation">
        <li><a class="site-navigation__link" href="#">Информация</a></li>
        <li><a class="site-navigation__link" href="#">Новости</a></li>
        <li><a class="site-navigation__link site-navigation__link--current">Прайс-лист</a></li>
        <li><a class="site-navigation__link" href="#">Магазин</a></li>
        <li><a class="site-navigation__link" href="#">Контакты</a></li>
      </ul>

      <ul class="user-navigation">
        <li>
          <a class="user-navigation__link js-popup-logo" href="#">Вход</a>
        </li>
      </ul>
    </nav>
  </div>
</header>