<header class="main-header">
  <nav class="main-navigation">
    <a class="main-logo" href="index.html">
      <img src="img/index-logo.svg" alt="Логотип Барбершопа Бородинский">
    </a>
    <ul class="site-navigation">
      <li><a class="site-navigation__item" href="#">Информация</a></li>
      <li><a class="site-navigation__item" href="#">Новости</a></li>
      <li class="site-navigation__item site-navigation__item--current">Прайс-лист</li>
      <li><a class="site-navigation__item" href="#">Магазин</a></li>
      <li><a class="site-navigation__item" href="#">Контакты</a></li>
    </ul>

    <ul class="user-navigation">
      <li>
        <a href="#">Вход</a>
      </li>
    </ul>
  </nav>
</header>