.index-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 420px;
  margin-bottom: 37px;
  padding: 50px 80px 0 80px;

  color: $color-two;
  background-color: #f8f5f2;
  background-image: url("columns-line.png"), url("pattern.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center, 0 0;

&--last {
  margin-bottom: 65px;
}
}