.filter-group {
  @extend %reset-mp;
  border: none;

  &__middle-title {
    margin-bottom: 30px;
  }

  &__list {
    @extend %reset-ul;
  }

  &__item {
    @extend %reset-mp;

    &--m-b {
      margin-bottom: 17px;
    }
  }
}